<% provide(:title, 'Feed') %>
<h1>Flow Gallery</h1>

<div class="row">
  <% @posts.each do |post| %>
    <div class="gallery_image col-xs-6 col-md-4">
      <%= image_tag post.image_url %>
      <%= post.body %>
      <div><%= link_to post.user.handle, user_path(post.user) %></div>

      <div class="tags">
        <%raw tag_links(post.all_tags) %>
      </div>

    </div>
  <% end %>
</div>

<div class="tags-cloud glassy-bg">
  <h5>Search by Tags</h5>
  <% tag_cloud Tag.counts, %w{css1 css2 css3 css4} do |tag, css_class| %>
    <%= link_to tag.name, tag_path(tag.name), class: css_class %>
  <% end %>
</div>
