<% provide(:title, 'Feed') %>
<h1>All Users' Posts can go here</h1>

<div class="row">
  <% @posts.each do |post| %>
    <div class="col-xs-6 col-md-4">
      <%= image_tag post.image_url %>
      <%= post.body %>
      <div><%= link_to post.user.handle, user_path(post.user) %></div>
    </div>
  <% end %>
</div>

<div class="tags-cloud glassy-bg">
  <h4>Tags Cloud</h4>
  <% tag_cloud Tag.counts, %w{css1 css2 css3 css4} do |tag, css_class| %>
    <%= link_to tag.name, tag_path(tag.name), class: css_class %>
  <% end %>
</div>
